@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500;600&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
}

.headerLinks {
    display: flex;
    width: 35%;
    text-align: center;
}
.link {
    padding: 0 20px;
    transition: 0.3s color;
    cursor: pointer;
}
.header {
    width: 100%;
    align-items: center;
    display: flex;
    height: 60px;
    z-index: 1000000;
    position: fixed;
    top: 0;
    line-height: 4em;
    text-align: center;
    color: white;
    transition: transform 150ms ease-in-out;
}
.nav-bar--hidden {
    transform: translateY(-100%);
}
.headerWrapper {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
}

.headerLanguageSelector {
    padding: 0 20px;
    width: 65%;
    display: flex;
    justify-content: right;
}
.triangle {
    transition: transform 0.2s;
    position: relative;
    top: -45px;
    left: 19px;
    transform-origin: center;
    object-position: center;
    
}

.languageDropdown {
    height: 0;
}
.headerLanguageSelector.open .languageDropdown {
    height: auto;
}
.triangle a{
    
    height: 0;
    width: 0;
}
.headerLanguageSelector.open .triangle {
    transform: rotate(90deg);
}
.link:hover {
    color: #FF8B00;
}
.activeLanguage {
    padding-right: 10px;
}
.heading h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 180px;
    line-height: 216px;
    color:#121212;
    text-shadow: -1px -1px 0 #FF8B00, 1px -1px 0 #FF8B00, -1px 1px 0 #FF8B00, 1px 1px 0 #FF8B00;
}
.heading {
    transform: rotate(-90deg);
    display: flex;
    width: 100%;
    justify-content: center;
}
.buildingContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.col img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 30px;
}
.buildingContainer img {
    width: 120%;
}
.contHeader {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    position: relative;
    font-size: 50px;
    top: -55%;
    text-align: center;
    color: white;
}
.col {
    display: flex;
    height: 25vw;
    padding: 0px 0 20px 0;
}
.headingContainer {
    display: flex;
    align-items: center;

}
.designContainer {
    width: 50%;
    padding-right: 20px;
}
.designContainer img {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.corrContainer img {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.corrContainer {
    width: 50%;
}
/* Landing page */

.landingpage_wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    color: white;
}

.headertext {
    width: 100%;
    font-family: 'Poppins';
}

.headertext h2 {
    font-size: 70px;
    margin-left: 97px;
}

.headertext h3 {
    font-size: 45px;
    margin-left: 97px;
}

h1, h2, h3 {
    margin: 0;
}

.about_button {
    width: 364px;
    height: 73px;
    background-color: #FF8B00;
    border-radius: 45px;
    margin-left: 84px;
    margin-top: 55px;

    font-weight: 600;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

.about_button:hover {
    background-color: #cf7200;
}

/* Landing page - demotext  */

.demotext {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

.demotext h1 {
    font-family: 'Bebas Neue';
    color: #121212;
    -webkit-text-stroke: 1px #FFFFFF;
    font-size: 200px;
    position: absolute;
    transform: rotate(45deg);
    overflow: hidden;
    top: 277px;
    right: -83px;
    white-space: nowrap;
}

.demotext h2 {
    font-family: 'Bebas Neue';
    color: #121212;
    -webkit-text-stroke: 1px #FF8B00;
    font-size: 180px;
    transform: rotate(45deg);
    top: 522px;
    position: absolute;
    right: 215px;

}

/* Landing page animations */


/* Projects section */

.clientele {
    display: flex;
    width: 100%;
}
.rectangle {
    margin: 20px;
    background-color: black;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.rectangle img {
    width: 75%;
}
.rectangle.white {
    background-color: white;
}
.projects_header {
    font-family: 'Bebas Neue';
    color: #121212;
    -webkit-text-stroke: 1px #FFFFFF;
    font-size: 180px;
    line-height: 216px;
    float: right;

    padding-right: 52px;
}

.rectangle1 {
    width: 893px;
    height: 418px;
    background: #000;
    border-radius: 30px;

    position: absolute;
    margin-top: 243px;
    margin-left: 42px;

    display: flex;
    align-items: center;
    cursor: pointer;
}


#Mlogo1 {
    width: 288px;
    height: 274px;  
    position: absolute;
    margin-left: 54px;
}

#Mlogo2 {
    width: 439px;
    height: 376px;
    position: absolute;
    left: 426px;
}

.rectangle2 {
    width: 893px;
    height: 418px;
    background: #FFFFFF;
    border-radius: 30px;

    position: absolute;
    margin-top: 243px;
    right: 42px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rectangle2 img {
    width: 564px;
    height: 311px;
}

.footer {
    font-family: 'Bebas Neue';
    font-size: 36px;
    line-height: 46px;
    color: white;
}

.footer mark {
    color: #FF8B00;
    background-color: #121212;
}