@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500;600&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
}

.headerLinks {
    display: flex;
    width: 35%;
    text-align: center;
}
.link {
    padding: 0 20px;
    transition: 0.3s color;
}
.header {
    width: 100%;
    align-items: center;
    display: flex;
    height: 60px;
    z-index: 1000000;
    position: fixed;
    top: 0;
    line-height: 4em;
    text-align: center;
    color: white;
    transition: transform 150ms ease-in-out;
}
.nav-bar--hidden {
    transform: translateY(-100%);
}
.headerWrapper {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
}

.headerLanguageSelector {
    padding: 0 20px;
    width: 65%;
    display: flex;
    justify-content: right;
}
.triangle {
    transition: transform 0.2s;
    position: relative;
    top: -45px;
    left: 19px;
    transform-origin: center;
    object-position: center;
    
}

.languageDropdown {
    height: 0;
}
.headerLanguageSelector.open .languageDropdown {
    height: auto;
}
.triangle a{
    
    height: 0;
    width: 0;
}
.headerLanguageSelector.open .triangle {
    transform: rotate(90deg);
}
.link:hover {
    color: #FF8B00;
}
.activeLanguage {
    padding-right: 10px;
}
.heading h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 180px;
    line-height: 216px;
    color:#121212;
    text-shadow: -1px -1px 0 #FF8B00, 1px -1px 0 #FF8B00, -1px 1px 0 #FF8B00, 1px 1px 0 #FF8B00;
}
.heading {
    transform: rotate(-90deg);
    display: flex;
    width: 100%;
    justify-content: center;
}
.buildingContainer {
    width: 100%;
}
.buildingContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.contHeader {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    position: relative;
    font-size: 50px;
    top: -50%;
    text-align: center;
    color: white;
}
.headingCol {
    display: flex;
    height: 25vw;
}
.headingContainer {
    display: flex;
    align-items: center;

}